<%
  form_url = clinic.persisted? ? clinic_path(clinic) : clinics_path
%>

<p class="text-muted"><%= t "required_fields_html" %></p>

<%= simple_form_for(clinic, url: form_url, local: true) do |f| %>

  <fieldset class="form-fields">

    <div class="form-floating mb-3">
      <%= f.input_field :user_id,
                        as: :select,
                        collection: @users.map{ |u| %W[#{u.email} #{u.id}]},
                        label: false,
                        prompt: "Usuário",
                        class: "form-select" %>
      <%= f.label :user_id %>
    </div>

    <div class="form-floating mb-3">
      <%= f.association :specialties, as: :check_boxes, label_method: :description %>
    </div>

    <div class="form-floating mb-3">
      <%= f.input_field :corporate_name, class: "form-control", placeholder: "Razão Social" %>
      <%= f.label :corporate_name %>
    </div>

    <div class="form-floating mb-3">
      <%= f.input_field :cnpj, class: "form-control", placeholder: "CNPJ" %>
      <%= f.label :cnpj %>
    </div>

    <div class="form-floating mb-3">
      <%= f.input_field :health_insurance, class: "form-control", placeholder: "Plano de saúde" %>
      <%= f.label :health_insurance %>
    </div>
  </fieldset>

  <div class="form-actions">
    <% if clinic.new_record? %>
      <%= f.submit "Adicionar Clínica", class: "btn btn-primary" %>
      <%= link_to "Voltar", clinics_path, class: "btn btn-secondary" %>
    <% else %>
      <%= f.submit "Atualizar Clínica", class: "btn btn-primary" %>
      <%= link_to "Voltar", clinic_path(clinic), class: "btn btn-secondary"  %>
    <% end %>
  </div>
<% end %>
