<%
  form_url = professional.persisted? ? professional_path(professional) : professionals_path
%>

<p class="text-muted"><%= t "required_fields_html" %></p>

<%= simple_form_for(professional, url: form_url, local: true) do |f| %>

  <fieldset class="form-fields">
    <div class="form-floating mb-3">
      <%= f.input_field :user_id,
                        as: :select,
                        collection: @users.map{ |u| %W[#{u.name} #{u.id}]},
                        label: false,
                        prompt: "Usuário",
                        class: "form-select" %>
      <%= f.label :user_id  %>
    </div>

    <div class="form-floating mb-3">
      <%= f.association :specialties, as: :check_boxes, label_method: :description %>
    </div>

    <div class="form-floating mb-3">
      <% if current_user.admin? %>
        <%= f.input_field :clinic_id,
                          as: :select,
                          collection: @clinics.map { |c| %W[#{c.corporate_name} #{c.id}]},
                          label: false,
                          prompt: "Clínica",
                          class: "form-select" %>
        <%= f.label :clinic_id  %>
      <% else %>
        <%= f.input_field :clinic_id,
                          as: :select,
                          collection: Clinic.where(user_id: session[:user_id]),
                          label: false,
                          prompt: "Clínica",
                          class: "form-select" %>
        <%= f.label :clinic_id  %>
      <% end %>
    </div>

    <div class="form-floating mb-3">
      <%= f.input_field :cnpj, class: "form-control", placeholder: "CNPJ" %>
      <%= f.label :cnpj %>
    </div>

    <div class="form-floating mb-3">
      <%= f.input_field :professional_record, class: "form-control", placeholder: "Registro Profissional" %>
      <%= f.label :professional_record %>
    </div>
  </fieldset>

  <div class="form-actions">

    <% if professional.new_record? %>
      <%= f.submit "Cadastrar", class: "btn btn-primary" %>
      <%= link_to "Voltar", professionals_path, class: "btn btn-secondary" %>
    <% else %>
      <%= f.submit "Salvar", class: "btn btn-primary" %>
      <%= link_to "Voltar", user_path(@current_user), class: "btn btn-secondary" %>
    <% end %>
  </div>
<% end %>
