<%
  form_url = specialty.persisted? ? specialty_path(specialty) : specialties_path
%>

<p class="text-muted"><%= t "required_fields_html" %></p>

<%= simple_form_for(specialty, url: form_url, local: true) do |f| %>

  <fieldset class="form-fields">
    <div class="form-floating mb-3">
      <%= f.input_field :description, class: "form-control", placeholder: "Descrição" %>
      <%= f.label :description %>
    </div>
  </fieldset>

  <div class="form-actions">
    <% if specialty.new_record? %>
      <%= f.submit "Cadastrar", class: "btn btn-primary" %>
      <%= link_to "Voltar", specialties_path, class: "btn btn-secondary" %>
    <% else %>
      <%= f.submit "Salvar", class: "btn btn-primary" %>
      <%= link_to "Voltar", specialty_path(specialty), class: "btn btn-secondary" %>
    <% end %>
  </div>
<% end %>