<div class="row ">
  <div class="col-4"></div>
  <div class="col-md-4 text-center">
    <h1><%= Specialty.model_name.human count: 2 %></h1>

    <p><%= t ".specialties_count_html", count: @specialties.size %></p>
  </div>

  <div class="col-md-4 text-md-center d-print-none">
    <%= link_to "Nova Especialidade", new_specialty_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="row mb-3">
  <h4>Encontre <%= Specialty.model_name.human count: 2 %>:</h4>
  <%= form_tag(specialties_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search], size: 50, placeholder: "Nome") %>
    <%= submit_tag("Buscar") %>
    <%= link_to 'X', specialties_path, class:"btn", style:"color: red;" %>
  <% end %>
</div>


<div class="row">
  <% if @specialties.any? %>
    <% @specialties.each do |specialty| %>
      <div class="card mb-2 ms-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= specialty.description %></h5>
          <p class="card-text"><small class="text-muted">
            <%= Specialty.human_attribute_name :updated_at %>: <%= specialty.updated_at.strftime("%d/%m/%Y - %H:%M") %>
          </small></p>
          <%= link_to "Exibir", specialty_path(specialty), class: "btn btn-secondary" %>
        </div>
      </div>
    <% end %>
</div>

<% else %>
  <p class="lead">
    <%= link_to new_specialty_path do %>
      <%= t "create_your_first_model", model_name: Specialty.model_name.human %>
    <% end %>
  </p>
<% end %>
