<%
  form_url = clinic_address.persisted? ? clinic_clinic_address_path(@clinic, clinic_address) : clinic_clinic_addresses_path(@clinic)
%>

<p class="text-muted"><%= t "required_fields_html" %></p>

<%= simple_form_for(clinic_address, url: form_url, local: true) do |f| %>

  <fieldset class="form-fields">
    <div class="form-floating mb-3">
      <%= f.input_field :zipcode, class: "form-control", placeholder: "CEP" %>
      <%= f.label :zipcode %>
    </div>

    <div class="form-floating mb-3">
      <%= f.input_field :street, class: "form-control", placeholder: "Rua" %>
      <%= f.label :street %>
    </div>

    <div class="form-floating mb-3">
      <%= f.input_field :number, class: "form-control", placeholder: "Número" %>
      <%= f.label :number %>
    </div>

    <div class="form-floating mb-3">
      <%= f.input_field :neighborhood, class: "form-control", placeholder: "Bairro" %>
      <%= f.label :neighborhood %>
    </div>

    <div class="form-floating mb-3">
      <%= f.input_field :city, class: "form-control", placeholder: "Cidade" %>
      <%= f.label :city %>
    </div>

    <div class="form-floating mb-3">
      <%= f.input_field :state, class: "form-control", placeholder: "Estado" %>
      <%= f.label :state %>
    </div>

    <div class="form-floating mb-3">
      <%= f.input_field :complement, class: "form-control", placeholder: "Complemento" %>
      <%= f.label :complement %>
    </div>
  </fieldset>

  <div class="form-actions">
    <% if clinic_address.new_record? %>
      <%= f.submit "Adicionar endereço", class: "btn btn-primary" %>
      <%= link_to "Voltar", clinic_path(@clinic), class: "btn btn-secondary" %>
    <% else %>
      <%= f.submit "Atualizar endereço", class: "btn btn-primary" %>
      <%= link_to "Voltar",clinic_path(@clinic), class: "btn btn-secondary" %>
    <% end %>
  </div>
<% end %>
