<%
  form_url = address.persisted? ? user_address_path(@current_user, address) : user_addresses_path(@current_user)
%>

<div class="row text-center">
  <p class="text-muted"><%= t "required_fields_html" %></p>
</div>

<%= simple_form_for(address, url: form_url, local: true) do |f| %>

  <fieldset class="form-fields">
    <div class="form-floating mb-3">
      <%= f.input_field :zipcode, class: "form-control", placeholder: "CEP" %>
      <%= f.label :zipcode %>
    </div>

    <div class="form-floating mb-3">
      <%= f.input_field :street, class: "form-control", placeholder: "Rua" %>
      <%= f.label :street %>
    </div>

    <div class="form-floating mb-3">
      <%= f.input_field :number, class: "form-control", placeholder: "Número" %>
      <%= f.label :number %>
    </div>

    <div class="form-floating mb-3">
      <%= f.input_field :neighborhood, class: "form-control", placeholder: "Bairro" %>
      <%= f.label :neighborhood %>
    </div>

    <div class="form-floating mb-3">
      <%= f.input_field :city, class: "form-control", placeholder: "Cidade" %>
      <%= f.label :city %>
    </div>

    <div class="form-floating mb-3">
      <%= f.input_field :state, class: "form-control", placeholder: "Estado" %>
      <%= f.label :state %>
    </div>

    <div class="form-floating mb-3">
      <%= f.input_field :complement, class: "form-control", placeholder: "Complemento" %>
      <%= f.label :complement %>
    </div>
  </fieldset>

  <div class="form-actions">
    <% if address.new_record? %>
      <%= f.submit "Adicionar endereço", class: "btn btn-primary" %>
      <%= link_to "Voltar",user_addresses_path(@current_user), class: "btn btn-secondary" %>
    <% else %>
      <%= f.submit "Atualizar endereço", class: "btn btn-primary" %>
        <%= link_to "Voltar",user_addresses_path(@current_user), class: "btn btn-secondary" %>
    <% end %>
  </div>
<% end %>
