<div class="row">
  <div class="col-4"></div>
  <div class="col-md-4 text-center">
    <h1><%= Appointment.model_name.human count: 2 %></h1>

    <p><%= t ".appointments_count_html", count: @appointments.size %></p>
  </div>

  <div class="col-md-4 text-md-center d-print-none">
    <%= link_to "Nova Consulta", new_appointment_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="row mb-3">
  <h4>Encontre <%= Appointment.model_name.human count: 2 %>:</h4>
  <%= form_tag(appointments_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search], size: 50, placeholder: "Status") %>
    <%= submit_tag("Buscar") %>
    <%= link_to 'X', appointments_path, class:"btn", style:"color: red;" %>
  <% end %>
</div>

<div class="row">
  <% if @appointments.any? %>
    <% @appointments.each do |appointment| %>
      <div class="card ms-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= appointment.clinic.corporate_name %></h5>
          <h6 class="card-subtitle mb-2 text-muted">Dr. <%= appointment.professional.user.name %></h6>
          <p class="card-text">
          <span class="row">
            <span class="col">
              <%= Appointment.human_attribute_name :client %>: <%= appointment.client.user.name %>
            </span>
          </span>
            <span class="row">
            <span class="col">
              <%= Appointment.human_attribute_name :appointment_date %>: <%= appointment.appointment_date %>
            </span>
          </span>
            <span class="row">
            <span class="col">
              <%= Appointment.human_attribute_name :return %>: <%= appointment.return %>
            </span>
          </span>
            <span class="row">
            <span class="col">
              <%= Appointment.human_attribute_name :status %>: <%= appointment.status %>
            </span>
          </span>
          </p>
          <% unless current_user.client || current_user.user_type.nil? %>
            <%= link_to "Exibir", appointment_path(appointment), class: "btn btn-secondary" %>
          <% end %>
        </div>
      </div>
    <% end %>
</div>

<% else %>
  <p class="lead">
    <%= link_to new_appointment_path do %>
      <%= t "create_your_first_model", model_name: Appointment.model_name.human %>
    <% end %>
  </p>
<% end %>
