<p style="color: green"><%= notice %></p>

<%= render @doctors_appointment %>

<div>
  <%= link_to "Edit this doctors appointment", edit_doctors_appointment_path(@doctors_appointment) %> |
  <%= link_to "Back to doctors appointments", doctors_appointments_path %>

  <%= button_to "Destroy this doctors appointment", @doctors_appointment, method: :delete %>
</div>
