<hr>
<div class="row text-center">
  <div class="col">
    <h5>Siga nossas redes sociais:</h5>
    <br>
    <%= link_to("https://www.facebook.com/", {class:"text-decoration-none text-reset", target:"blank"}) do %>
      <i class="fa-brands fa-square-facebook fa-3x"></i>
    <% end %>
    <%= link_to("https://www.instagram.com/", {class:"text-decoration-none text-reset", target:"blank"}) do %>
      <i class="fa-brands fa-square-instagram fa-3x"></i>
    <% end %>
    <%= link_to("https://www.youtube.com/", {class:"text-decoration-none text-reset", target:"blank"}) do %>
      <i class="fa-brands fa-square-youtube fa-3x"></i>
    <% end %>
    <%= link_to("https://www.linkedin.com/", {class:"text-decoration-none text-reset", target:"blank"}) do %>
      <i class="fa-brands fa-linkedin fa-3x"></i>
    <% end %>
    <h5>Baixe nosso aplicativo</h5>
    <br>
    <%= link_to("https://play.google.com/store/games?hl=pt_BR&gl=US&pli=1", {class:"text-decoration-none text-reset", target:"blank"}) do %>
      <i class="fa-brands fa-google-play fa-4x"></i>
    <% end %>
    <%= link_to("https://www.apple.com/br/app-store/", {class:"text-decoration-none text-reset", target:"blank"}) do %>
      <i class="fa-brands fa-app-store-ios fa-4x"></i>
    <% end %>
  </div>
</div>
<hr>
<div class="row text-center">
  <div class="col">
    <h6>Copyright <%= Time.current.year %> - HealthCheck - Todos os direitos reservados</h6>
  </div>
</div>
